form1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.a1{
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.a2{
    
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-label{
    color: rgb(62, 62, 119);
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    background-color: rgb(42, 45, 207);
    font-size: 16px;
    padding:15p 30px;
    color: white ;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containter{
    background-color: rgb(42, 45, 207);
    font-size: 16px;
    padding:15p 30px;
    color: white ;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
